.BestSelling{
    display: flex;
    flex-direction: column;

}
.BestBooks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.books{
    display: flex;
    align-items: center;
    justify-content: center;
}
.book1{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}
