.carusel_Book{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.carusel_Book>img{
    width: 150px;
    box-shadow: 0px 0px 5px 5px;
}
.carusel{
    width:700px;
}
@media (max-width: 500px){
    .carusel{
        width: 100vw;
    }
    .carusel_Book>img{
        margin-left: 150px;
    }
}