header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
span{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #550D0E;
    margin: 15px;
}
@media (max-width: 500px) {
    .header_1{
        display: flex;
    }  
}