.helpImg{
    height: 100vh;
    background-image: url('https://thumbs.dreamstime.com/b/text-help-written-cocaine-powder-black-background-top-view-134505334.jpg');
    background-repeat: no-repeat;
    background-position: center;
}