button{
    background: #E7D6AC;
    border-radius: 20px;
    width: 117px;
    height: 40px;
    margin-top: 20px;
}
input{
    background: #FFFFFF;
    border: 1px solid #E7D6AC;
    border-radius: 4px;
    box-sizing: border-box;
}
form{
    background: #F9F4DB;
    width: 452px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label-div{
    display: flex;
}
